<div>
    <h3>
        	{
		"name": "galleta",
		"description": "galletas dulces",
		"code": "abc123",
		"price": 15,
		"status": "true",
		"stock": 300,
		"category": "Comida",
		"thumbnail": [
			"imagen.com/asdfg",
			"imagen.ar/qwert"
		],
		"id": "d40815c1-3d4f-4d72-9f0c-89f1885eb355"
	}
    </h3>
    <h3>
    {
		"name": "Gaceosa",
		"description": "Gaceosa de cola",
		"code": "def456",
		"price": 60,
		"status": "true",
		"stock": 500,
		"category": "Bebida",
		"thumbnail": [
			"imagen.com/asdfg",
			"imagen.ar/qwert"
		],
		"id": "f7bfa7ff-d96f-4c86-99b0-3a9c39c50653"
	}
    </h3>
    <h3>
	{
		"name": "Agua",
		"description": "Botellas de agua",
		"code": "ghi789",
		"price": 20,
		"status": "true",
		"stock": 450,
		"category": "Bebida",
		"thumbnail": [
			"imagen.com/asdfg",
			"imagen.ar/qwert"
		],
		"id": "033f517e-2b33-48fa-9696-0b1048e4d83a"
	}
    </h3>
    <h3>
	{
		"name": "Milanesas",
		"description": "Milanesas de pollo congeladas",
		"code": "jkl101",
		"price": 30,
		"status": "true",
		"stock": 450,
		"category": "Comida",
		"thumbnail": [
			"imagen.com/asdfg",
			"imagen.ar/qwert"
		],
		"id": "c0075d5c-16ef-482e-88bc-f7249bb4e4f8"
	}
    </h3>
    <h3>
    {
		"name": "Pan",
		"description": "Tiras de pan",
		"code": "mno112",
		"price": 10,
		"status": "true",
		"stock": 600,
		"category": "Comida",
		"thumbnail": [
			"imagen.com/asdfg",
			"imagen.ar/qwert"
		],
		"id": "e73b38f7-9d5b-4c59-96e1-992054b616c5"
	}
    </h3>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>